# experimental .dockerignore

# do NOT include the bin directory
# these scripts are not used *inside* of Docker-based images.
# They may be used during the build/run process and provide utility functions,
# i.e. for tagging the images
bin

# do NOT include the provided configuration files
configs
# but DO include the production-related scripts/config files that are used
# inside of the images
!configs/Docker/bin/*
!configs/Docker/django/entrypoint_django.sh
!configs/Docker/django/gunicorn_conf.py
!configs/Docker/django/run_gunicorn.sh
!configs/Docker/nginx/nginx.conf
!configs/Docker/nginx/entrypoint.sh

# do NOT include the documentation
# TODO: the original doc-folder of django-project-skeleton should be removed
#   during initialisation of the project. On the other hand, there could be
#   project specific documentation. However, this should be excluded from any
#   image.
# TODO: 'doc' is already renamed to 'docs' in development!
doc

# inside of the images, only the compiled requirements files with the '.txt'
# extension are used. No need to include the source files.
requirements/*.in

# utility files/directories of the repository should not be included
**/.git
**/.tox
**/.dockerignore
**/.editorconfig
**/.gitignore
**/.travis.yml
**/Makefile
**/README*
**/tox.ini

# do not include any samples
**/*.sample

# do NOT track Python compilation stuff
*.py[cod]
**/__python__
**/__pycache__

# TODO: .gitignore excludes compiled language files. Is it safe to exclude the
#   uncompiled language files for 'production'?
