# do NOT track Python compilation files
*.py[cod]
__python__/*

# do NOT track tox's testing folder
.tox

# do NOT track coverage files/folders
.coverage
coverage_html

# do NOT track compiled language files
*.mo
*.pot

# do NOT track environment files that are used for docker-compose, but do
# include the sample
util/deployment/Docker/env.*
!util/deployment/Docker/env.sample
