### GUNICORN related configuration

# the number of Gunicorn worker processes
#DPS_GUNICORN_NUM_WORKERS=2

# the used worker class
#DPS_GUNICORN_WORKER_CLASS=gthread

# the number of threads per worker process
#DPS_GUNICORN_NUM_THREADS=4

# how long should a Keep-Alive session be kept open
#DPS_GUNICORN_KEEPALIVE=10

# the file for access log / error log
# In Docker environments, logs should be written to stdout
#DPS_GUNICORN_ACCESSLOG_FILE=-
#DPS_GUNICORN_ERRORLOG_FILE=-

# a custom log format
#DPS_GUNICORN_LOGFORMAT=%({x-forwarded-for}i)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"

# the log level
#DPS_GUNICORN_LOGLEVEL=info
