### OVERALL configuration

# Sets the overall (minimum) log level
#
# This setting is used by
#   - [django] gunicorn_conf.py
#
# Default value: INFO
#DPS_OVERALL_LOGLEVEL=INFO

# Provide the timezone for all containers
# Must follow the list of time zones, see:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
#
# This setting is used by
#   - [django] settings/common.py
#
# Default value: Etc/UTC
#DPS_TIMEZONE=Etc/UTC
#DPS_TIMEZONE=Europe/Berlin

# Specifies the name that is used to identify the matching server block.
#
# Nginx supports regular expressions and wildcards, however, this environment
# variable is also used in Django's ALLOWED_HOSTS setting and is therefore
# constrained to the given requirements.
#
# See https://nginx.org/en/docs/http/server_names.html
# See https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts
#
# This setting is used by
#   - [django] settings/docker.py
#   - [nginx] nginx.conf.template
#
# Default value: localhost
#DPS_SERVER_NAME=localhost

# The url prefix for static files
#
# This setting is used by
#   - [django] settings/common.py
#   - [nginx] nginx.conf.template
#
# Default value: /static/
#DPS_STATIC_URL=/static/

# How long should connections between Nginx and the upstream app server be
# kept open/alive.
#
# This settins is used by
#   - [django] gunicorn_conf.py
#   - [nginx] nginx.conf.template
#
# Default value: 60
#DPS_UPSTREAM_KEEPALIVE_TIMEOUT=60


### DJANGO related configuration

# Django's ALLOWED_HOSTS
# In *settings/production.py* this is by default an empty list. In the
# provided *settings/docker-nginx.py* this is set to the project's name while
# setting USE_X_FORWARDED_HOST = True. This means, that Django will not longer
# check, if it is responsible for the request but if the request comes from a
# trusted proxy (nginx in this case).
#DPS_DJANGO_ALLOWED_HOSTS=

# The minimum level of log messages to show up for Django's logging
#DPS_DJANGO_LOGLEVEL=INFO

# Django's LOGIN_REDIRECT_URL
#DPS_DJANGO_LOGIN_REDIRECT_URL=/

# Django's LOGOUT_REDIRECT_URL
#DPS_DJANGO_LOGOUT_REDIRECT_URL=core_login

# Django's MEDIA_URL
# the URL to serve media files from
# While this is part of Django's configuration, this environment variable is
# used by nginx's Docker image aswell
#DPS_DJANGO_MEDIA_URL=/media/

# Django's SECRET_KEY
#DPS_DJANGO_SECRET_KEY=

# the (dotted) path to the WSGI app
# defaults to the app provided by Django
# see *settings/common.py* for the default value
#DPS_DJANGO_WSGI_APP=


### GUNICORN related configuration

# the number of Gunicorn worker processes
#DPS_GUNICORN_NUM_WORKERS=2

# the used worker class
#DPS_GUNICORN_WORKER_CLASS=gthread

# the number of threads per worker process
#DPS_GUNICORN_NUM_THREADS=4

# a custom log format
#
# this is the default format that plays nicely with Python's logging setup
# from gunicorn_conf.py
# Please note, that by default, Gunicorn will **not** log access logs
# see DPS_GUNICORN_SHOW_ACCESS_LOG
#DPS_GUNICORN_LOGFORMAT=%({x-forwarded-for}i)s %(l)s %(s)s %(l)s "%(r)s"
#
# this is a verbose format, that basically mimics nginx's default access log
#DPS_GUNICORN_LOGFORMAT=%({x-forwarded-for}i)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"

# the log level
#DPS_GUNICORN_LOGLEVEL=INFO

# determines if the accesslog should be included in the logs
# just set this to 'true' (without ') to enable access logs
#DPS_GUNICORN_SHOW_ACCESS_LOG=false


### NGINX related configuration
#
# All default values are provided directly through the corresponding
# Dockerfile (configs/Docker/nginx/Dockerfile).

# Specifies the number of preserved keepalive connections.
# See http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive
# Default value: 5
#DPS_NGINX_UPSTREAM_KEEPALIVE_NUM_CONN=5

# Maximum number of requests performed by a single keepalive connection
# See http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive_requests
# Default value: 100
#DPS_NGINX_UPSTREAM_KEEPALIVE_NUM_REQ=100

# How long should client connections to Nginx should be kept open (in seconds)
# Default value: 60 / Nginx default: 75
#DPS_NGINX_SERVER_KEEPALIVE=60

# Enables / disables emitting nginx version on error pages.
# See http://nginx.org/en/docs/http/ngx_http_core_module.html#server_tokens
# Supported values: on / build / off
# Default value: off
#DPS_NGINX_SERVER_TOKENS=off
